@model IEnumerable<WebVendasMVC.Models.Vendedores>

@{
    ViewData["Title"] = "Vendedores";
}

<h2>@ViewData["Title"]</h2>


<p>

    <a asp-action="Create" class="btn btn-default">Create</a>
</p>
<table class="Table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>&nbsp; @Html.DisplayNameFor(model => model.Dt_aniversario)&nbsp;&nbsp;&nbsp;</th>
            <th>@Html.DisplayNameFor(model => model.SalarioBase)</th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td align="left">@Html.DisplayFor(modelItem => item.Name)</td>
                <td align="center">@Html.DisplayFor(modelItem => item.Email)</td>
                <td align="center">@Html.DisplayFor(modelItem => item.Dt_aniversario)</td>
                <td align="center">@Html.DisplayFor(modelItem => item.SalarioBase)</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Detalhe" asp-route-id="@item.Id">Detalhe</a>
                    <a asp-action="Remove" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
         }
    </tbody>

</table>

